:root {
    --gray-gray-1: #f1f3f5;
	--gray-gray-2: #e9ecef;
    --gray-gray-3: #dee2e6;
    --gray-gray-4: #ced4da;
    --gray-gray-5: #adb5bd;
    --gray-gray-6: #868e96;
    --gray-gray-9: #212529;

    --blue-blue-9: #1864ab;

    --font-family: "Open Sans", sans-serif;
}
